.button {
	width: 200px;
	height: 60px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	background: rgba($color: #000000, $alpha: 0.5);
	transition: 0.4s all;
	outline: 0 !important;
	border-style: none;
	border: 1px solid #fff;
	&:hover {
		background: $main_color;
	}
	&_lg {
		width: 565px;
		color: #fff;
		background: $main_color;
		border: none;
		&:hover {
			background: rgb(196, 167, 2);
		}
	}
	&_lg50 {
		width: 50%;
		background: $main_color;
		border: none;
		&:hover {
			background: rgb(196, 167, 2);
		}
	}
}