.events {
	min-height: 675px;
	padding: 60px 140px;
	background: url('../img/events_bg.png') center / cover no-repeat;
	&__inner {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		column-gap: 80px;
			
	}
	&__footer {
		text-align: center;
		font-weight: normal;
		font-size: 12px;
		line-height: 12px;
		color: rgba(255, 255, 255, 0.5);
		a {
			color: $bg_color;
		}
	}
}