.team {
	min-height: 675px;
	padding: 60px 80px 100px 140px;
	background: url('../img/team_bg.png') center / cover no-repeat;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 30px;
	}	
	&__descr {
		text-align: center;
		padding-left: 40px;
		flex: 0 1 50%;
		&_text {
			font-weight: bold;
			font-size: 18px;
			line-height: 28px;
			color: #fff;
			span {
				display: inline-block;
				font-weight: normal;
				margin-top: 30px;
			}
		}
	}
	&__img {
		flex: 0 1 auto;
		&::after {
			@include rectangle_left;
		}
		img {
			max-width: 100%;
		}
	}
}

